/* BASIC
   ----------------------------------------------------- */

html { margin-bottom:15%;}
body {  margin-top: 0px;
       margin-left: 10%;
         font-size: 18px;
          overflow-x:hidden;
}

h1,h2,h3,div,
p,blockquote,hr,
code,pre,ul,ol {

  display: inline-block;
    float: left;
}

h1,h2,h3,
p,blockquote,
code,pre,ul,ol {

            width: 60%;
        min-width: 500px;
        max-width: 650px;

     margin-right: 0px;
      
       margin-top: 0px;
    margin-bottom: 0px;
      padding-top: 0px;
   padding-bottom: 2%;
     padding-left: 0px;
    padding-right: 4%;

}

p { text-align: justify; }

img {
     /*    width: 60%;
       min-width: 500px;
       max-width: 650px; */
 
   margin-bottom: -5px;

         display: inline-block;
           float: none; 
}

h1,h2,h3 { 
 
   width: 50%;
   margin-top: 3%;
   margin-bottom: 2%; 
   clear: both;
}

h2 { padding-bottom: 0px;
     margin-bottom: 1em;
}


blockquote { width: 55%;
             min-width: 480px;
             max-width: 630px;
             margin-left:1%;
             margin-top:2%; 
             clear: both;
}
blockquote + * { clear: both; }

pre,code {

  background-color: transparent;

  padding-left: 0px;
  padding-right: 2%;

  width: auto;
  position: relative;
  z-index: 2500;

}

sup {
      background-color: #ff9632;
      vertical-align: top;
      font-size: 0.7em;
      padding-left: 0.3em;
      padding-right: 0.5em;
      margin-left: 1px;
}

/* BEHAVE TOGETHER 
   ----------------------------------------------------- */

h1 + *,
h2 + *,
h3 + *  { clear: left;    }
* + *   { clear: left;    }
* + img { clear: none;    }
img + * { margin-top: 5%; }
img + img { margin-top: 0%; }

blockquote + * { margin-top: 4%; }
blockquote + blockquote { margin-top: 0px;}

h1:nth-child(1) { /* color:#00ff00; */
                  margin-top: 8%; }


/* COMPENSATE */

   blockquote > p { width: 100%; margin-top:0px; }
   blockquote > p,
   blockquote { padding-bottom: 0px;}

   tt,
   a  > code,
   p  > code,
   li > code {
     float: none;
     padding: 0;
     margin: 0;
     width: auto;
     min-width: 0px;
     max-width: none;
   }

/* TRANSLATION PRODUCES <p> INSIDE <li> */
   li > p {
    display: inline;
    float: none;
 }

/* TYPO STYLING
   ----------------------------------------------------- */

body { font-family: hk-grotesk-regular; }

p,ul,ol {

   font-size: 1em;
   color: #333333;
   line-height: 1.4em;
}

blockquote,
blockquote > p,
blockquote, em {
   font-size: 1em;
   font-style: italic;
   text-align: left;
}


blockquote > em {
   font-size: 0.9em;
   font-style: normal;
}

h1,h2,h3 {
   font-family: inconsolata;
   font-weight: normal;
   line-height: 1em;
   text-transform: uppercase;
   text-align: left;
   word-spacing: -0.2em;
}


h1 {
     font-size: 2em;
     line-height: 1.0em;
}

h2 { font-size: 1.5em;}

h1 > tt { text-transform: none;
          font-size: 1.2em;
          white-space: nowrap;
}

pre,code {

  font-family: inconsolata;
  font-size: 1.1em;

}

tt,
a  > code,
p  > code,
li > code {
  white-space: nowrap;
}

tt { white-space: normal; }

h1 > tt, h1 > a > tt, h1 > tt > a ,
h2 > tt, h2 > a > tt, h2 > tt > a ,
h3 > tt, h3 > a > tt, h3 > tt > a {

 font-size: 1.1em;
 text-transform: none;

}

/* LINKS ---------------------------------------- */

sup > a {
       vertical-align: top;
       text-decoration: none;
}

a, p > a {

    color: #000000;
    text-decoration: none;

}

p > a { color: #555555; }

a { text-decoration: underline; }

a:hover,
p > a:hover ,
a:visited:hover,
p > a:visited:hover {

    color: #FF3300;
    text-decoration: underline;

}

a:visited,
p > a:visited { color: #555555; }

h1 a, h2 a, h3 a,
pre  a { text-decoration: none; }



/* MDSH SPECIFIC
   ------------------------------------------- */

/* INTERVIEWS */
.who { font-weight:bold;
       font-size:.8em;
       text-transform:uppercase;
       margin-right:.5em;
}


div.spread {       width:100vw;
              margin-top:20vh;
             margin-left:-10%;
        background-color:#000000;
}

div.spread > img {   float: left; 
                   display: inline-block;
                     clear: none;
                     width: 50%;
                  margin-bottom:0px;
}

/* CITATIONS */

div.footnotes { margin-top:70vh;
                padding-bottom: 20%;}
div.footnotes > * {
  color:#0f0f0f;
  width: 100%;
}

.book .fname {}
.book .gname {}
.book .title { font-style:italic; }

